* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #d4e5e5;
}

.builds-list path {
  fill: #05ffff00;
  stroke: #05ffff00;
  cursor: pointer;
}

.builds-list path:hover {
  fill: #0fa5a5;
  stroke: #0fa5a5;
  stroke-width: 3;
  fill-opacity: 0.3;
}

.builds-info {
  padding: 48px;
  position: absolute;
  left: 38%;
  border-radius: 10px;
}

.builds-info-title {
  margin-bottom: 24px;
}

.info-list {
  padding: 24px;
  list-style: none;
  border-radius: 10px;
}

.list-item {
  margin-bottom: 12px;
}
.builds {
  position: relative;
  padding: 20px;
}

.builds-list-poland {
  max-height: 95vh;
  width: 100%;
}
.builds-list-poland path {
  fill: #05ffff00;
  stroke: #05ffff00;
  cursor: pointer;
}
.builds-list-poland path:hover {
  fill: rgb(4, 11, 51);
  stroke: rgb(92, 96, 113);
  stroke-width: 3;
  fill-opacity: 0.3;
}
.builds-list-poland .sales path {
    fill: rgba(229, 33, 11, 0.271);
    stroke: #fb1d00;
    cursor: no-drop;
}
.builds-list-poland .sales path:hover {
    fill: #d10404a1;
    stroke: #fb0000;
    fill-opacity: 1;
}

.builds-info {
  padding: 48px;
  position: absolute;
  border-radius: 10px;
}

.builds-info-title {
  margin-bottom: 24px;
}

.info-list {
  padding: 24px;
  list-style: none;
  border-radius: 10px;
}

.list-item{
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 991px) {

  .builds-info {
     position: static;
     transform: translate(0, 0);
     max-width: 370px;
     margin: 0 auto;
  }
}
