* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #d5f1f3;
}

.builds-list path {
  fill: #05ffff00;
  stroke: #05ffff00;
  cursor: pointer;
}

.builds-list path:hover {
  fill: #0fa5a5;
  stroke: #0fa5a5;
  stroke-width: 3;
  fill-opacity: 0.3;
}

.builds-info-title {
  margin-bottom: 24px;
}

.info-list {
  padding: 24px;
  list-style: none;
  border-radius: 10px;
}

.list-item {
  margin-bottom: 12px;
}
.builds {
  position: relative;
  padding: 20px;
}

.builds-list-poland {
  max-height: 95vh;
  width: 100%;
}
.builds-list-poland path {
  fill: #05ffff00;
  stroke: #05ffff00;
  cursor: pointer;
}
.builds-list-poland path:hover {
  fill: rgb(4, 11, 51);
  stroke: rgb(92, 96, 113);
  stroke-width: 3;
  fill-opacity: 0.3;
}
.builds-list-poland .sales path {
  fill: rgba(229, 33, 11, 0.271);
  stroke: #fb1d00;
  cursor: no-drop;
}
.builds-list-poland .sales path:hover {
  fill: #d10404a1;
  stroke: #fb0000;
  fill-opacity: 1;
}

.builds-info {
  position: absolute;
  padding: 32px;
  left: 50%;
  transform: translate(-50%, 0);
}
.build-1 {
  left: 40%;
  transform: translate(0);
}
.builds-info-title {
  margin-bottom: 24px;
  text-align: center;
}

.info-list {
  padding: 24px;
  list-style: none;
  border-radius: 10px;
}

.list-item {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}

/* Flat */

.flat {
  cursor: pointer;
}

/* .flat:hover .flat-path {
  stroke: #11ff00;
  fill: #00ff3357;
}
.flat.active .flat-path {
  fill: #00ff488d
} */

.flat-path {
  fill: rgba(255, 255, 0, 0);
}

.flat-text {
  white-space: pre;
  font-family: Inter;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0em;
  fill: #000;
}

.status-border,
.status-sell {
  stroke: black;
  stroke-width: 2;
  fill: #fff;
}

.flat .status-sell {
  fill: #00defc;
}
.flat:hover .flat-path {
  stroke: #05ffff80;
  fill: #05ffff60;
}

.booking .status-sell {
  fill: #6b68ff;
}
.booking:hover .flat-path {
  cursor: no-drop;
  stroke: #5a58ea;
  fill: #1d1c6780;
}
.sold .status-sell {
  fill: #d34e4e;
}
.sold:hover .flat-path {
  cursor: no-drop;
  stroke: #e46868;
  fill: #74050583;
}
.action .status-sell {
  fill: #80d34e;
}
.action:hover .flat-path {
  stroke: #11e20d;
  fill: #0af20770;
}
.flat-info {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px;
  border: 1px solid;
}

.flat-item {
  text-align: center;
  border: 1px solid;
  padding: 12px;
}

@media screen and (max-width: 991px) {
  .builds-poland-nav {
    margin-bottom: 20px;
  }

  .builds-info {
    position: static;
    transform: translate(0, 0);
    max-width: 370px;
    margin: 0 auto;
  }
  .flat-info {
    flex-direction: column;
    gap: 10px;
  }
}
